<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ supermarket.supermarket_name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">
    </head>
    <body>
        <h1>Welcome to {{supermarket.supermarket_name}}</h1>
        <p>Address: {{supermarket.address}}</p>
        <p>Opening Date: {{supermarket.opening_date}}</p>
        <button onclick="window.location.href='{% url 'inventory:SupermarketStock' supermarket.id%}';">View Stock</button>
        <script src="" async defer></script>
    </body>
</html>