<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Network Automation App</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'gns3_app/style.css' %}"
    />
  </head>
  <body>
    <h1>Network Automation</h1>
    <li>
      <a href="{% url 'gns3_app:routerIndex'%}">View Routers</a>
    </li>
    <li>
      <a href="{% url 'gns3_app:routerForm'%}">Add Routers</a>
    </li>
    <script src="" async defer></script>
  </body>
</html>
