<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Routers</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gns3_app/style.css' %}">
  </head>
  <body>
    <h1>Routers List</h1>
    {% if router_list %}
    <div>
    <table class="router_table">
      <tr>
        <th>Router Name</th>
        <th>IP address</th>
      </tr>
      {% for router in router_list %}
      <tr>
        <td>
          <a href="{% url 'gns3_app:routerDetail' router.id %}"
            >{{ router.name }}</a
          >
        </td>
        <td>
            <p>{{ router.ip }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
    {% else %}
    <p>Router list is empty.</p>
    {% endif %}
  </body>
</html>
